//! The code block below uses the built-in `text` attribute.
//! 
//! ```text
//! John is 28 years old.
//! ```
//!
//! The code block below is Rust.
//!
//! ```
//! fn main() {
//!     let age = 28; // Comment!
//!     println!("John is {age} years old.");
//! }
//! ```
//!
//! The code block below is C++.
//!
//! ```cpp
//! #include <iostream>
//!
//! int main(int argc, char** argv) {
//!     int age = 28; // Comment!
//!     std::cout << "John is " << age << " years old." << std::endl;
//!     return 0;
//! }
//! ```
//!
//! The code block below is C#.
//!
//! ```csharp
//! using System;
//!
//! public class Program
//! {
//!     public static void Main(string[] args)
//!     {
//!         int age = 28; // Comment!
//!         Console.WriteLine($"John is {age} years old.");
//!     }
//! }
//! ```
//!
//! The code block below is JSON.
//!
//! ```json
//! {
//!     "name": "John",
//!     "age": 28
//! }
//! ```
//!
//! The code block below is XML.
//!
//! ```xml
//! <profile>
//!     <!-- Comment! -->
//!     <name>John</name> 
//!     <age>28</age>
//! </profile>
//! ```
//!
//! The code block below is TOML.
//!
//! ```toml
//! [profile]
//! name = "John" # Comment!
//! age = 28
//! ```
//!
//! The code block below is a diff.
//!
//! ```diff
//! fn main() {
//!     let age = 28; // Comment!
//! -   println!("Bob is {age} years old.");
//! +   println!("John is {age} years old.");
//! }
//! ```