#[doc(tag(text = "Hello", color = "seagreen"))]
/// This struct is tagged.
///
/// The color was also changed to `seagreen`.
///
/// # Related
///
/// - [`HyperlinkTagged`] has a tag with a hyperlink. 
/// - [`NotTagged`] has default documentation generation.