//! The code block below cannot be doctested, since it has an external file
//! dependency. 
//!
//! ```highlight
//! let bytes = include_bytes!("spanish.in");
//! assert_eq!(bytes, b"adi\xc3\xb3s\n");
//! ```
